.img {
    width: 25%;
    height: 25%;

    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.medication {
    text-align: center;
    transition: 0.3s;
}

.medication:hover {
    transform: scale(1.1);
}

.fail {
    color: red;
}

.success {
    color: #4BB543;
}